.login {
  .main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .centerDiv {
    border: 3px solid #c3cfd9;
    background-color: #fff;
    width: 100%;
  }
}
